article[rede-back]::before,
div[back-rede]::before,
section[back-rede]::before {
  content: "";
  position: fixed;
  top: -40%;
  left: -30%;
  width: 130%;
  height: 140%;
  z-index: -10000;
  background: url("../img/background.svg") ;
  background-repeat: no-repeat;
  background-size: 75%;
  background-attachment: fixed;

}
